@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


.blog-container-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure it takes full viewport height */
    margin: 0;
}
.blog-form-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    width: 100%;
    max-width: 600px;
}

.blog-form-container h2 {
    text-align: center;
    color: var(--primary);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 16px;
    color: var(--primary);
    background-color: #fff;
}

#editor-container {
    height: 200px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: #fff;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--secondary);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: var(--secondary);
    color: white;
}
