{% extends "base.html" %}

{% block title %}
News Page
{% endblock title %}


{% block content %}
<div class="categories">
    <ul class="cat-links">
        <li class="{% if request.path == '/blog/news/' %}active{% endif %}"><a href="{% url 'news' %}">All</a></li>
        <li class="{% if request.path == '/blog/news/business/' %}active{% endif %}"><a href="{% url 'news_category' 'business' %}">Business</a></li>
        <li class="{% if request.path == '/blog/news/sports/' %}active{% endif %}"><a href="{% url 'news_category' 'sports' %}">Sports</a></li>
        <li class="{% if request.path == '/blog/news/science/' %}active{% endif %}"><a href="{% url 'news_category' 'science' %}">Science</a></li>
        <li class="{% if request.path == '/blog/news/entertainment/' %}active{% endif %}"><a href="{% url 'news_category' 'entertainment' %}">Entertainment</a></li>
        <li class="{% if request.path == '/blog/news/technology/' %}active{% endif %}"><a href="{% url 'news_category' 'technology' %}">Tech</a></li>
    </ul>
</div>
<!--NEWS SECTION-->
<section class="news" id="news">
    <div class="titletext">
        <h1>Here's your News <span>Feed</span> {{username}}</h1>
    </div>
    <div class="container">
        {% for article in articles %}
        <a href="{{ article.url }}" class="card" style="text-decoration: none; color: inherit;">
            <div class="card__header">
                <img src="{% if article.urlToImage %}{{ article.urlToImage }}{% else %}https://th.bing.com/th/id/OIP.7hIBET-9zWe1o1gHdZK6FgHaD_?w=1007&h=542&rs=1&pid=ImgDetMain{% endif %}" alt="img" class="card__image" width="600">
            </div>
            <div class="card__body">
                <span class="tag">{{ article.source.name }}</span>
                <h4>{{ article.title }}</h4>
                <p>{{ article.description|default:"No description available." }}</p>
            </div>
            <div class="card__footer">
                <div class="user">
                    <img src="https://i.pravatar.cc/40" alt="user__image" class="user__image">
                    <div class="user__info">
                        <h5>{{ article.author|default:"Unknown Author" }}</h5>
                        <small>{{ article.publishedAt|date:"Y-m-d H:i:s" }}</small>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock content %}

