<!-- templates/admin_blogs.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>All Blogs</h2>
        <ul class="list-group">
            {% for blog in blogs %}
                <li class="list-group-item">
                    <h3>{{ blog.blog_title }}</h3>
                    <p>{{ blog.blog_content | safe }}</p>
                    <p>{{ blog.status }}</p>
                </li>
            {% endfor %}
        </ul>
</div>
</body>
</html>
