{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/blogView.css' %}">
{% endblock css_files %}
{% block title %}
Blogs
{% endblock title %}
{% block content %}
<div class="create-note-container">
    <a href="{% url 'add_blogs' %}" class="create-note-btn">Create New Blog</a>
    {% if blog.isempty %}
    <div class="empty-notes-message">
        <p>No notes found.</p>
    </div>
    {% endif %}
</div><div class="container">
    {% for blog in blogs %}
    <div class="card">
        <div class="card__actions">
            <a href=# class="edit-icon" title="Edit Blog">
                <i class="fa fa-edit"></i>
            </a>
            <form action=# method="post" class="delete-form">
                {% csrf_token %}
                <button type="submit" class="delete-icon" title="Delete Blog">
                    <i class="fa fa-trash"></i>
                </button>
            </form>
        </div>
        <a data-id="{{ blog.id }}"
           data-title="{{ blog.blog_title }}"
           data-description="{{ blog.blog_content }}"
           data-date="{{ blog.publish_date }}"
           onclick="openModal(this)" class="card__content" style="text-decoration: none; color: inherit;">
            <div class="card__header">
                <img src="{% if blog.blog_thumbnail %}{{ blog.blog_thumbnail.url }}{% else %}https://th.bing.com/th/id/OIP.7hIBET-9zWe1o1gHdZK6FgHaD_?w=1007&h=542&rs=1&pid=ImgDetMain{% endif %}" alt="img" class="card__image" width="600">
            </div>
            <div class="card__body">
                <h4>{{ blog.blog_title }}</h4>
                <p>{{ blog.blog_description|default:"No description available." }}</p>
            </div>
            <div class="card__footer">
                <div class="user">
                    <img src="{% if blog.user.profile.profile_pic %}{{ blog.user.profile.profile_pic.url }}{% else %}https://i.pravatar.cc/40{% endif %}" alt="user__image" class="user__image">
                    <div class="user__info">
                        <h5>{{ blog.user.username|default:"Unknown Author" }}</h5>
                        <small>{{ blog.status|slice:":10" }}</small>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>



  <!-- Modal for displaying full note details -->
<div id="noteModal" class="custom-modal">
    <div class="modal-content">
        <span class="close-icon" onclick="closeModal()">&times;</span>
        <span class="fullscreen-icon" onclick="toggleFullScreen(this)" style="cursor: pointer;">&#x26F6;</span>
        <h2 class="modal-title" id="modal-title"></h2>
        <!-- Use th:utext to render HTML content -->
        <p class="modal-description" id="modal-description">{{blog.blog_content}}</p>
        <p class="modal-date" id="modal-date"></p>
        <div class="modal-buttons">
            <!-- Buttons or actions for the modal -->
        </div>
    </div>
</div>
    <!-- Modal for confirming note deletion -->
<div id="deleteNoteModal" class="custom-modal">
    <div class="modal-content">
        <span class="close-icon" onclick="closeDeleteModal()">&times;</span>
        <h2>Delete Note</h2>
        <p>Are you sure you want to delete this note?</p>
        <div class="modal-buttons">
            <button class="delete-button" onclick="confirmDelete()">Delete</button>
            <button class="cancel-button" onclick="closeDeleteModal()">Cancel</button>
        </div>
    </div>
</div>
{% endblock content %}
{% block js_files %}
<script src="{% static 'blog/blogView.js' %}"></script>
{% endblock js_files %}