@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --primary: #111;
  --secondary: #a6d1e6;
  --bg: #f0f8ff;
  --border: #aaa;
}
body {
  background-color: #fff;
  transition: background-color 0.3s ease;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.dark-mode {
  background-color: #000000;
  --primary: #000000;
  --secondary: #0000ff;
  --bg: #ffffff;
  --border: #d1d1d1;
  filter: invert(0.9) hue-rotate(180deg);
  transition: all 0.5s;
}
.dark-mode img {
  filter: invert(1) hue-rotate(180deg);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 50px;
  font-size: 1.5em;
}

.top .links a {
  text-decoration: none;
  color: var(--primary);
  transition: 0.5s;
}
.top .links a:hover {
  color: var(--secondary);
}
.top .head {
  font-weight: 600;
}
.top .head span {
  color: var(--secondary);
}
.top .search i {
  transition: 0.5s;
  padding-right: 10px;
}
.top .search i:hover {
  color: var(--secondary);
  cursor: pointer;
}
.top .search .hamburger {
  display: none;
}
.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}
.header .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
}
.header .navigation li a {
  text-decoration: none;
  color: var(--primary);
  padding: 5px 40px;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #fff;
  left: 0;
}
.header .navigation li a:hover {
  border-bottom: 2px solid var(--secondary);
}
.header .navigation li.active a {
  border-bottom: 2px solid var(--secondary);
}
.categories {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}
.cat-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
}
.cat-links li a {
  text-decoration: none;
  color: var(--primary);
  padding: 5px 40px;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #fff;
  left: 0;
  color: var(--primary);
  padding: 8px 16px;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: rgb(218, 216, 216); /* Background color on hover */
  margin-right: 20px;
}
.cat-links li a:hover {
  background-color: var(--secondary); /* Background color on hover */
  color: white;
}
.cat-links li.active a {
  background-color: var(--secondary); /* Background color on hover */
  color: white;
}
.banner {
  margin: 20px 0px;
}
.banner swiper-container {
  width: 100%;
  height: 80vh;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide .imgbx img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
swiper-slide .text {
  position: absolute;
  color: #fff;
  top: 70%;
}
section {
  padding: 40px 30px;
}
.news {
  text-align: center;
}
.news .titletext {
  text-align: center;
  font-size: 2em;
  padding-bottom: 40px;
}
.news .titletext span {
  color: var(--secondary);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 2rem;
  gap: 2rem;
  background: var(--bg);
  border-radius: 20px;
  padding: 50px 0px;
  cursor: pointer;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
  background: var(--secondary);
  color: #fff;
}

.tag + .tag {
  margin-left: 0.5em;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user__image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.user__info > small {
  color: #666;
}

.events {
  text-align: center;
}
.events .titletext {
  text-align: center;
  font-size: 2em;
  padding-bottom: 40px;
}
.events .titletext span {
  color: var(--secondary);
}
.jobs {
  text-align: center;
}
.jobs .titletext {
  text-align: center;
  font-size: 2em;
  padding-bottom: 40px;
}
.jobs .titletext span {
  color: var(--secondary);
}
.register {
  text-align: center;
  border-top: 1px solid var(--border);
}
.register .titletext {
  text-align: center;
  font-size: 2em;
  padding-bottom: 40px;
}
.register .titletext span {
  color: var(--secondary);
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  background: var(--secondary);
  padding: 30px;
  width: 700px;
  margin: auto;
  border-radius: 20px;
  height: auto;
}
.form .formimg img {
  width: 350px;
  border-radius: 25px;
}
.form .formcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.form .formcontent input {
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
}
.strip {
  background: var(--secondary);
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.strip h1 {
  color: #fff;
  font-weight: 300;
}
.strip .icons a {
  color: #fff;
}
.alert {
  position: fixed;
  top: 5%;
  right: 2%;
  background: var(--secondary);
  color: #fff;
  font-weight: 800;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  width: 300px;
  height: 100vh;
  border-radius: 10px;
  transform: translateX(150%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}
.alert .navigation1 {
  display: flex;
  flex-direction: column;
  gap: 70px;
  list-style: none;
  text-align: center;
}
.alert .navigation1 li a {
  text-decoration: none;
  color: #fff;
}
.alert p {
  margin: 30px;
  letter-spacing: 1px;
}

.alert i {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
.register .form .btn {
  margin-top: 10px;
  border: none;
  padding: 10px 30px;
  background: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}

@media (max-width: 911px) {
  .header {
    display: none;
  }
  .top .search .hamburger {
    display: block;
  }
  .register .form {
    margin: 0 0;
  }
  swiper-slide .imgbx img {
    height: 100vh;
  }
  .top .search {
    display: flex;
    justify-content: space-between;
  }
  .top {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
    width: 100%;
  }
  .banner {
    margin: 0px 0px;
  }
  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.theme-switch {
  --toggle-size: 10px;
  /* the size is adjusted using font-size,
     this is not transform scale,
     so you can choose any size */
  --container-width: 5.625em;
  --container-height: 3em;
  --container-radius: 6.25em;
  /* radius 0 - minecraft mode :) */
  --container-light-bg: #3d7eae;
  --container-night-bg: #1d1f2c;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ecca2f;
  --moon-bg: #c4c9d1;
  --spot-color: #959db1;
  --circle-container-offset: calc(
    (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
  );
  --stars-color: #fff;
  --clouds-color: #f3fdff;
  --back-clouds-color: #aacadf;
  --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
    0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
    0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius);
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    0 0 0 0.625em rgba(255, 255, 255, 0.1),
    0 0 0 1.25em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    0 0 0 0.625em rgba(255, 255, 255, 0.1),
    0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61)
      inset,
    0em -0.062em 0.062em 0em #a1872a inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #a1872a inset;
  -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
    drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
    drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61)
      inset,
    0em -0.062em 0.062em 0em #969696 inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}

.theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  -webkit-box-shadow: 0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  box-shadow: 0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__circle-container {
  left: calc(
    100% - var(--circle-container-offset) - var(--circle-container-diameter)
  );
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__circle-container:hover {
  left: calc(
    100% - var(--circle-container-offset) - var(--circle-container-diameter) -
      0.187em
  );
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__clouds {
  bottom: -4.062em;
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__stars-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
